{%extends "home.html"%}

{%block main%}

<div style = "padding:20">

<h4 style = "text-align:center"> {%block eventhead%} Add an Event {%endblock%}</h4><br>

<form action = "\" method = "GET">

<div class="form-group row">
    <label for="Title" class = "col-sm-2 col-form-label">Title</label>
    <input type="text" class="form-control " id="Title" name = "Title" style = "width:300px" value = {{title}}>
</div>

<div class="form-group row">
    <label for="Description" class = "col-sm-2 col-form-label">Description</label>
    <input type="text" class="form-control" name = "Description" id="Description" style = "width:300px" value = {{description}}>
</div>

<div class="form-group row">
    <label for="Date" class = "col-sm-2 col-form-label">Date</label>
    <input type="date" class="form-control" name = "Date" id="Date" style = "width:300px" value = {{date}}>
</div>

<div class="form-group row">
    <label for="Time" class = "col-sm-2 col-form-label">Time</label>
    <input type="time" class="form-control" name = "Time" id="Time" style = "width:300px" value = {{time}}>
</div>


 <div class="form-group row">
   <label for="Address" class = "col-sm-2 col-form-label">Address</label>
   <input type="text" class="form-control col-sm-10" name = "Address" id="Address" placeholder="1234 Main St, City, State, Zip" value = {{address}}>
 </div>

<div class ="form-group row">
  <label for="priority" class = "col-sm-2 col-form-label">Priority</label>
  <div style= "width:300">
  <input type="range" class="custom-range" name = "priority" min="0" max="5" step="1" id="priority" value = {{priority}}>
  <small style="text-align:left"> Not Important </small>  <small style = "text-align:right"> Very Important </small>
  </div>
</div>

 <div class="custom-control custom-switch">
   <input type="checkbox" class="custom-control-input" name = "Alerts" id="Alerts" value = {{alerts}}>
   <label class="custom-control-label" for="Alerts">Alerts?</label>
 </div>



<div class="form-check row ">
  <input class="form-check-input" type="radio" name="private" id="priv" value="private" checked>
  <label class="form-check-label" for="priv">
    Private
  </label>
</div>
<div class="form-check row">
  <input class="form-check-input" type="radio" name="private" id="pub" value="public">
  <label class="form-check-label" for="pub">
    Public
  </label>
</div>

{%set value = "additems"%}
<div class = "form-row">
  <div class = "form-group">
    <button type = "submit" class = "btn btn-dark" id="{{value}}" name = "additems"> {%block button%} Add Event {%endblock%}</button>
  </div>
  <div class = "form-group">
    <a class = "btn btn-dark" role = "button" href = "/"> Cancel </a>
  </div>
</div>

</form>

</div>

{%endblock%}
