{%extends "home.html"%}

{% block main %}

<h4 style = "text-align:center"> Your Calendar </h4><br>

<div class = "form-row">
  <div class = "form-group">
    <select id="monthselect" name = "monthselect" class="form-control" data-target="#monthselect" data-toggle="Setters">
      <option>01</option>
      <option>02</option>
      <option>03</option>
      <option>04</option>
      <option>05</option>
      <option>06</option>
      <option>07</option>
      <option>08</option>
      <option>09</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
    </select>
  </div>
  <div class = "form-group">
    <select id="yearselect" name = "yearselect" class="form-control" data-target="#monthselect" data-toggle="Setters">
      {% for year in range(2018,2024)%}
      <option>{{year}}</option>
      {%endfor%}
    </select>
  </div>



<table class="table table-bordered" style = "table-layout:fixed">
  <thead>
    <tr>
      <th scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thurday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
    </tr>
  </thead>
  <tbody>


    <div id = "set">
    </div>
<script src="{{ url_for('static', filename='calendar.js') }}"></script>
    {% for week in totalcal[y][m] %}

    <tr style = height:150px>

      {% for day in totalcal[y][m][week] %}

      <td style = "width:14%; max-width: 14%; max-height: 200px">

      {%set newy = y%}

      {%set newwk = week%}

      {%set newm = m%}

        {% if (totalcal[y][m][week][day][0] >= 24 and week == 0) %}

          {%set newm = ((m-1)%12)%}{% if newm == 0%}

            {% set newm = 12%}

            {% set newy = y - 1%}

          {%endif%}

          {%set newwk = (totalcal[newy][newm].keys()|sort)[-1]%}

          <a class = "btn" style = "height:100%; word-wrap:break-word" role = "button" href = "/todo?user={{user}}&month={{newm}}+&day={{totalcal[newy][newm][newwk][day][0]}}&year={{newy}}">

        {% elif (totalcal[y][m][week][day][0] <= 6 and week == (totalcal[y][m].keys()|sort)[-1]) %}

          {%set newm = ((m+1)%12)%}

          {%set newwk = 0%}

          {% if newm == 13%}

            {% set newm = 1%}

            {% set newy = y + 1%}

          {%endif%}

          <a class = "btn" style = "height:100%; width:100%" role = "button" href = "/todo?user={{user}}&month={{newm}}+&day={{totalcal[newy][newm][newwk][day][0]}}&year={{newy}}">

        {% else %}

          <a class = "btn" style = "height:100%; width:100%" role = "button" href = "/todo?user={{user}}&month={{m}}+&day={{totalcal[y][m][week][day][0]}}&year={{y}}">

        {% endif%}

        <div style = "color:black; text-align:left">

          <h6 style = "color:black"> {{totalcal[y][m][week][day][0]}}</h6>

          {%set hols = holidays(newy, newm)%}

          {%for hol in hols["holidays"]%}

          {%if hol["date"].endswith(totalcal[y][m][week][day][0]|string)%}

          {{hol["name"]}}<br>

          {%endif%}

          {%endfor%}

          {%for item in totalcal[newy][newm][newwk][day][1]%}

              {{item[4]}} {{item[0]}}<br>

            {%endfor%}


        </div>

      </a>

      </td>

      {%endfor%}

    </tr>

    {%endfor%}

  </tbody>
</table>

<a role="button" class="btn btn-dark" href="/add">Add Task</a>


{% endblock %}
