{%extends "home.html"%}

{% block main %}

<h4 style = "text-align:center"> Your Calendar </h4><br>
<form action="\calendar" id="selector">
<div class = "form-row">
  <div class = "form-group">
    <select id="monthselect" name = "monthselect" class="form-control" data-target="#monthselect" data-toggle="Setters" name="month">
      {% for month in range(1,12)%}
        {% if month<10 %}
          {% if month == m %}
            <option selected>0{{month}}</option>
          {% else %}
            <option>0{{month}}</option>
          {% endif %}
        {% else %}
          {% if month == m %}
            <option selected>{{month}}</option>
          {% else %}
            <option>{{month}}</option>
          {% endif %}
        {% endif %}
      {%endfor%}
    </select>
  </div>
  <div class = "form-group">
    <select id="yearselect" name = "yearselect" class="form-control" data-target="#monthselect" data-toggle="Setters" name="year">
      {% for year in range(2018,2024)%}
        {% if year == y %}
          <option selected>{{year}}</option>
        {% else %}
          <option>{{year}}</option>
        {%endif%}
      {%endfor%}
    </select>
  </div>
</form>


<table class="table table-bordered" style = "table-layout:fixed">
  <thead>
    <tr>
      <th scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thurday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
    </tr>
  </thead>
  <tbody>


    <div id = "set">
    </div>
<script src="{{ url_for('static', filename='calendar.js') }}"></script>
 {% for week in month %}

    <tr style = height:150px>

      {% for day in month[week] %}

      <td style = "width:14%; max-width: 14%; max-height: 200px">
        <div class="text-truncate">
        {% if (month[week][day][0] >= 24 and week == 0) %}

          <a class = "btn" style = "height:100%; width:100%" role = "button" href = "/todo?user={{user}}&month={{newm}}+&day={{month[week][day][0]}}&year={{y}}">

        {% else %}

          <a class = "btn" style = "height:100%; width:100%" role = "button" href = "/todo?user={{user}}&month={{m}}+&day={{month[week][day][0]}}&year={{y}}">

        {% endif%}

        <div style = "color:black; text-align:left">

          <h6 style = "color:black"> {{month[week][day][0]}}</h6>

          {% if not (month[week][day][0] >= 24 and week == 0) %}

          {%set hols = holidays(y, m)%}

          {%for hol in hols["holidays"]%}

          {%if hol["date"].endswith(month[week][day][0]|string)%}

          {{hol["name"]}}<br>

          {%endif%}

          {%endfor%}

          {%for item in month[week][day][1]%}

              {{item[4]}} {{item[0]}}<br>

            {%endfor%}

          {%endif%}

        </div>

      </a>
    </div>
      </td>

      {%endfor%}

    </tr>

    {%endfor%}

  </tbody>
</table>
<a role="button" class="btn btn-dark" href="/add">Add Task</a>


{% endblock %}
