{%extends "base.html"%}

{%block title%} Home {%endblock%}

{%block body%}

<div class = "row">

  <nav style="background-color:#90AA86; width:300px; height:100%; position:fixed">

    <ul class = "nav flex-column" style = "text-align:center">

      <li class = "nav-item">
        <a class = 'nav-link' href = "/" style="color:white; font-family:'Courier New', Courier, monospace;"> <h3> <b>EventBlox</b> </h3></a>
      </li>

      <li class = "nav-item">
        <a class = 'btn btn-dark' role = "button" href = "#" style="color:white"> Logout </a>
      </li>

      <li class = "nav-item">
        <a class = 'nav-link' href = "#" style="color:white"> Account </a>
      </li>

      <li class = "nav-item">
        <a class = 'nav-link' href = "#" style="color:white"> Calendar </a>
      </li>

      <li class = "nav-item">
        <a class = 'nav-link' href = "#" style="color:white"> What's Happening </a>
      </li>

    </ul>

  </nav>

</div>

{%endblock%}
