{%extends "base.html"%}

{%block title%} Home {%endblock%}

{%block body%}

<div class="row" style = "display:table; width:100%">

  {%block nav%}

    <div style="display:table-cell; background-color:#90AA86; width:300px; height:1000px">
      <div class="nav flex-column nav-pills" style="text-align:center;">
          <a class = 'nav-link' href = "/" style="color:white; font-family:'Courier New', Courier, monospace;"> <h3> <b>EventBlox</b> </h3></a>
          <div>
          <div class="card text-white bg-dark " style="text-align:left;float:top;height:4rem;justify-content: center">
              <div class="card-body">
              <img src="{{avatar}}" height="48px" alt="Not available">    {{display}}
              </div>
          </div>
        </div>
        <a class = 'nav-link' href = "/" style="color:white"> Home </a>
          <a class = 'nav-link' href = "/account" style="color:white"> Account </a>
          <a class = 'nav-link' href = "/calendar" style="color:white"> Calendar </a>
          <a class = 'nav-link' href = "/requests" style="color:white"> Requests </a>
          <a class = 'nav-link' href = "#" style="color:white"> What's Happening </a>
          <div>
          <a class = 'btn btn-dark' role = "button" href = "#" style="color:white;"> Logout </a>
          </div>
          <div>
        </div>
      </div>
    </div>

    {% endblock %}

    <div style=" display:table-cell; padding:20px">

    {% block main%}

    <h4 style = "text-align:center; color:black"> Welcome, {{user}} </h4> <br>

        {% set msgs = get_flashed_messages() %}

        {% if not msgs %}

        <div class="alert alert-success" role="alert">
          You have no alerts!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span> <!-- still must add JS behavior -->
            </button>
        </div>

        {% else %}

        {% for each in msgs %}

          <div class="alert" role="alert-primary">{{each}} </div>

        {% endfor %}

        {% endif %}

        <h3> Your Upcoming Tasks </h3><br>

        <div class="list-group col-6">


        {% if not todo %}

          You have no items on your to-do list! To add tasks, select the "Add Task" button below.

        {% else %}

        {% for each in todo %}

        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id={{each[0]}}>
              <b> {{ each[0] }} </b>
            </div>
            <small> {{each[4] }} </small>
          </div>
          <p class="mb-1"> {{ each[6] }} </p>
        </a>

        {% endfor %}

        {% endif %}

        </div> <br><br>

        <a role="button" class="btn btn-dark" href="#">Delete Items</a>

        <a role="button" class="btn btn-dark" href="/add">Add Task</a>

      </div>


      {%endblock%}
      
    </div>




{%endblock%}
