{%extends "home.html"%}
{%block title%}Account{%endblock%}
{%block main%}
{% set msgs = get_flashed_messages() %}
{% for each in msgs %}
<br>
<div class="alert alert-primary" role="alert">{{each}} </div>

{% endfor %}

<form action="/results" method="POST">
<div class="form-group">
    <!-- <label for="pic">Profile Picture</label> -->
    <input type="text" class="form-control" placeholder="Search For User"
        name="search">
</div>
<button type="submit" class="btn btn-primary" name="searchRes">Search</button>
</form>

<h1 style="text-align: center">Requests</h1>
<br>
<h2> Incoming Requests </h2>
{% if inc == [] %}
  <div class="alert alert-primary" role="alert">No requests at the moment </div>
{% else %}
<div class="card-deck">
  {% for each in inc %}
  <div class="card border-info mb-3" style="width: 20rem;height:10rem">
      <div class="card-header"> <img src="{{incAvatarList[each[0]]}}" height="48px" alt="Not available"> {{each[0]}}</div>
      <div class="card-body text-info">
        <label for="x">Hi {{display}}! {{each[0]}} would like to add you as a friend! </label>
          <form id="x" action="/requests" method="POST">
            <button type="submit" class="btn btn-primary" name="acc{{each[0]}}">Accept</button>
            <button type="submit" class="btn btn-primary" name="ign{{each[0]}}">Ignore</button>
          </form>
      </div>
      </div>
  {% endfor %}
</div>
{% endif %}
<br>



<h2> Outgoing Requests </h2>
{% if out == [] %}
  <div class="alert alert-primary" role="alert">No requests at the moment </div>
  {% else %}
  <div class="card-deck">
    {% for each in out %}
    {% if each[1] != 3 %}
    <div class="card border-info mb-3" style="width: 20rem;height:10rem">
         <div class="card-header"> <img src="{{outAvatarList[each[0]]}}" height="48px" alt="Not available"> {{each[0]}}</div>
        <div class="card-body text-info">
          {% if each[1] == 0 %}
            <label for="x">status: pending </label>
          {% elif each[1] == 2 %}
            <label for="x">status: denied </label>
            <form id="x" action="/requests" method="POST">
              <button type="submit" class="btn btn-primary" name="den" value="{{each[0]}}">Close Request</button>
            </form>
            <br>
          {% endif %}
        </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
    {% endif %}


<h2> Friends </h2>
<div class="list-group">
    {% for each in friendL %}
      <li class="list-group-item"> {{each}} </li>
    {% endfor %}
</div>

{%endblock%}
