{%extends "home.html"%}
{%block title%}What's Happening{%endblock%}
{%block main%}



<div class="card-deck">
    {% set count = 0 %}
    {% for each in public %}
    <div class="card">
        {% set count = count + 1 %}
        <div class="card-body">
        <h5 class="card-title">{{each[1]}}</h5>
        <h6>By {{each[0]}}</h6>
        <p class="card-text">
            {{each[7]}}
            <br>
            <br>
            @{{each[6]}}
            <br>
            <br>
            <small>{{each[5]}} on {{each[2]}}/{{each[3]}}/{{each[4]}}</small>
        </p>
        </div>
        <img src="{{maplist[count]}}" class="card-img-bottom" alt="Image Not Available" style="height:20rem">
    </div>
    
{% endfor %}
{%endblock%}
</div>
