{%extends "home.html"%}
{%block title%}What's Happening{%endblock%}
{%block main%}

<div class="container">
<div class="row">
    <div class="mx-auto">
    <nav style="float:center;">
        <ul class="pagination pagination-lg">
        {% for each in pages %}
        {% if loop.index == active or active==0 %}
        <li class="page-item active"><a class="page-link" href="/shared?pages={{loop.index}}">{{loop.index}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="/shared?pages={{loop.index}}">{{loop.index}}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
    </nav>
    </div>
</div>
<div class="card-deck">
    
    {% for each in public %}
    <div class="card" style="max-width: 22rem; max-height: 24rem">
        
        <div class="card-header"><h5>{{each[1]}}</h5></div>
        <div class="card-body">
        <h5 class="card-title">Author: {{each[0]}}</h5>
        <p class="card-text">
            <b>Description: </b>{{each[7]}}
            <br>
            <br>
            <b>Where: </b>{{each[6]}}
            <br>
            <br>
            <small>{{each[5]}} on {{each[2]}}/{{each[3]}}/{{each[4]}}</small>
        </p>
        </div>
        <img src="{{maplist[loop.index0]}}" class="card-img-bottom" alt="Image Not Available" style="height:20rem;width:auto">
    </div>
    
{% endfor %}

{%endblock%}
</div>