{%extends "home.html"%}

{%block main%}

<h3> Your Tasks on {{m}}-{{d}}-{{year}} </h3><br>

<div class="list-group col-6">


{% if not todo %}

  You have no items on your to-do list! To add tasks, select the "Add Task" button below.

{% else %}

<form action="/todo">
<input type="hidden" name="month" value={{m}}>
<input type="hidden" name="day" value={{d}}>
<input type="hidden" name="year" value={{year}}>  
{% for each in todo %}
{% if each[8] == 0 %}
<div class = "row">
  <div class = "col-sm-1">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" name="item{{loop.index}}"value="{{each[0]}}&|{{each[4]}}"id={{each[0]}}>
    </div>
  </div>
  <div class = "col-sm-11">
    <a href="/todoitem?title={{each[0]}}&time={{each[4]}}&month={{m}}&day={{d}}&year={{y}}"
    {% if each[7] == 5 %}
    class="list-group-item list-group-item-danger"
    {% elif each[7] ==4 %}
    class="list-group-item list-group-item-primary"
    {% elif each[7] ==3 %}
    class="list-group-item list-group-item-secondary"
    {% elif each[7] ==2 %}
    class="list-group-item list-group-item-info"
    {% else %}
    class="list-group-item list-group-item-light"
    {% endif %}
    >

      <div class="d-flex w-100 justify-content-between">
        <b> {{ each[0] }} </b>
        <small> {{each[4] }} </small>
      </div>
      <p class="mb-1"> {{ each[6] }} </p>
    </a>
  </div>
</div>
<br>

{% endif %}
{% endfor %}
{% endif %}
<br>
<br>
<h6><b>Completed Tasks</b></h6>
{% for each in todo %}
{% if each[8] == 1 %}
<div class = "row">
  <div class = "col-sm-11">
    <a href="/todoitem?title={{each[0]}}&time={{each[4]}}&month={{m}}&day={{d}}&year={{y}}" class="list-group-item list-group-item-success">
      <div class="d-flex w-100 justify-content-between">
        <b> {{ each[0] }} </b>
        <small> {{ each[4] }} </small>
      </div>
      <p class="mb-1"> {{ each[6] }} </p>
    </a>
  </div>
</div>
<br>
{% endif %}
{% endfor %}
</div> <br><br>

<!--the following 3 lines broke the page -->

<!-- those ones above -->

<button class="btn btn-dark" id="complete" type="submit">Mark Items as Complete</button>
<a class="btn btn-dark" role = "button" id="add" href="/add">Add Items</a>
</form>

{%endblock%}
